<column name="{{ headline }}">
	<column-top><col-author>{{ author }}</col-author>
<col-title>{{ col-title }}</col-title></column-top>
	<columnhead>{{ headline }}</columnhead>
	<body>{{ body }}</body>
	<bio>{{ bio }}</bio>
</column>
