<article name="{{ headline }}">
	<kicker>{{{ kicker }}}</kicker>
	<opinionhead>{{{ headline }}}</opinionhead>
	<author><name>by {{{ author }}}</name></author>
	<kicker>{{{ kicker }}}</kicker>
{{#if bio}}
	<bio>{{{ bio }}}</bio>
{{/if}}
	<body>{{{ body }}}</body>
</article>
