<article name="{{ headline }}">
	{{#if hammer}}
	<hammer>{{ hammer }}</hammer>
	{{/if}}
	<headline>{{ headline }}</headline>
	<author><byline>by {{ author }}</byline>
<rank>{{ rank }}</rank></author>
	<jump>see {{ jumpword }}, page xx</jump>
	<conthead>{{ conthead }}</conthead>
	<continuation><contjump>{{ jumpword }}</contjump>
<contpage>continued from page xx</contpage></continuation>
	{{#if photos}}
	<photos>
	{{#each photos}}
		<photo url="{{ url }}">
			<photocredit>{{ credit }}</photocredit>
			<photocaption>{{ caption }}</photocaption>
		</photo>
	{{/each}}
	</photos>
	{{/if}}
	<thumbnail>{{ thumbnail }}</thumbnail>
	<body>{{ body }}</body>
</article>
